.k-pg-icon{
  background-image: url("../img/icons/lg-icons-list.png");
  vertical-align: text-top;
  cursor: pointer !important;
  outline: 0 none;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 0;
  height: 16px;
  line-height: 0;
  overflow: hidden;
  margin-top: -1px;
  width: 16px;
  vertical-align: middle;
  background-color: transparent;
}

.k-i-l1-c1{background-position: 0px 0px;}
.k-i-l1-c2{background-position: -16px 0px;}
.k-i-l1-c3{background-position: -32px 0px;}
.k-i-l1-c4{background-position: -48px 0px;}
.k-i-l1-c5{background-position: -64px 0px;}
.k-i-l1-c6{background-position: -80px 0px;}
.k-i-l1-c7{background-position: -96px 0px;}
.k-i-l1-c8{background-position: -112px 0px;}
.k-i-l1-c9{background-position: -128px 0px;}
.k-i-l1-c10{background-position: -144px 0px;}
.k-i-l2-c1{background-position: -0px -16px;}
.k-i-l2-c2{background-position: -16px -16px;}
.k-i-l2-c3{background-position: -32px -16px;}
.k-i-l2-c4{background-position: -48px -16px;}
.k-i-l2-c5{background-position: -64px -16px;}
.k-i-l2-c6{background-position: -80px -16px;}
.k-i-l2-c7{background-position: -96px -16px;}
.k-i-l2-c8{background-position: -112px -16px;}
.k-i-l2-c9{background-position: -128px -16px;}
.k-i-l2-c10{background-position: -144px -16px;}
.k-i-l3-c1{background-position: -0px -32px;}
.k-i-l3-c2{background-position: -16px -32px;}
.k-i-l3-c3{background-position: -32px -32px;}
.k-i-l3-c4{background-position: -48px -32px;}
.k-i-l3-c5{background-position: -64px -32px;}
.k-i-l3-c6{background-position: -80px -32px;}
.k-i-l3-c7{background-position: -96px -32px;}
.k-i-l3-c8{background-position: -112px -32px;}
.k-i-l3-c9{background-position: -128px -32px;}
.k-i-l3-c10{background-position: -144px -32px;}
.k-i-l4-c1{background-position: -0px -48px;}
.k-i-l4-c2{background-position: -16px -48px;}
.k-i-l4-c3{background-position: -32px -48px;}
.k-i-l4-c4{background-position: -48px -48px;}
.k-i-l4-c5{background-position: -64px -48px;}
.k-i-l4-c6{background-position: -80px -48px;}
.k-i-l4-c7{background-position: -96px -48px;}
.k-i-l4-c8{background-position: -112px -48px;}
.k-i-l4-c9{background-position: -128px -48px;}
.k-i-l4-c10{background-position: -144px -48px;}
.k-i-l5-c1{background-position: -0px -64px;}
.k-i-l5-c2{background-position: -16px -64px;}
.k-i-l5-c3{background-position: -32px -64px;}
.k-i-l5-c4{background-position: -48px -64px;}
.k-i-l5-c5{background-position: -64px -64px;}
.k-i-l5-c6{background-position: -80px -64px;}
.k-i-l5-c7{background-position: -96px -64px;}
.k-i-l5-c8{background-position: -112px -64px;}
.k-i-l5-c9{background-position: -128px -64px;}
.k-i-l5-c10{background-position: -144px -64px;}
.k-i-l6-c0{background-position: -0px -80px;}
.k-i-l6-c1{background-position: -16px -80px;}
.k-i-l6-c2{background-position: -32px -80px;}
.k-i-l6-c3{background-position: -48px -80px;}
.k-i-l6-c4{background-position: -64px -80px;}
.k-i-l6-c5{background-position: -80px -80px;}
.k-i-l6-c6{background-position: -96px -80px;}
.k-i-l6-c7{background-position: -112px -80px;}
.k-i-l6-c8{background-position: -128px -80px;}
.k-i-l6-c9{background-position: -144px -80px;}
.k-i-l7-c1{background-position: -0px -96px;}
.k-i-l7-c2{background-position: -16px -96px;}
.k-i-l7-c3{background-position: -32px -96px;}
.k-i-l7-c4{background-position: -48px -96px;}
.k-i-l7-c5{background-position: -64px -96px;}
.k-i-l7-c6{background-position: -80px -96px;}
.k-i-l7-c7{background-position: -96px -96px;}
.k-i-l7-c8{background-position: -112px -96px;}
.k-i-l7-c9{background-position: -128px -96px;}
.k-i-l7-c10{background-position: -144px -96px;}
.k-i-l8-c1{background-position: -0px -112px;}
.k-i-l8-c2{background-position: -16px -112px;}
.k-i-l8-c3{background-position: -32px -112px;}
.k-i-l8-c4{background-position: -48px -112px;}
.k-i-l8-c5{background-position: -64px -112px;}
.k-i-l8-c6{background-position: -80px -112px;}
.k-i-l8-c7{background-position: -96px -112px;}
.k-i-l8-c8{background-position: -112px -112px;}
.k-i-l8-c9{background-position: -128px -112px;}
.k-i-l8-c10{background-position: -144px -112px;}
.k-i-l9-c1{background-position: -0px -128px;}
.k-i-l9-c2{background-position: -16px -128px;}
.k-i-l9-c3{background-position: -32px -128px;}
.k-i-l9-c4{background-position: -48px -128px;}
.k-i-l9-c5{background-position: -64px -128px;}
.k-i-l9-c6{background-position: -80px -128px;}
.k-i-l9-c7{background-position: -96px -128px;}
.k-i-l9-c8{background-position: -112px -128px;}
.k-i-l9-c9{background-position: -128px -128px;}
.k-i-l9-c10{background-position: -144px -128px;}
.k-i-l10-c1{background-position: -0px -144px;}
.k-i-l10-c2{background-position: -16px -144px;}
.k-i-l10-c3{background-position: -32px -144px;}
.k-i-l10-c4{background-position: -48px -144px;}
.k-i-l10-c5{background-position: -64px -144px;}
.k-i-l10-c6{background-position: -80px -144px;}
.k-i-l10-c7{background-position: -96px -144px;}
.k-i-l10-c8{background-position: -112px -144px;}
.k-i-l10-c9{background-position: -128px -144px;}
.k-i-l10-c10{background-position: -144px -144px;}
.k-i-l11-c1{background-position: -0px -160px;}
.k-i-l11-c2{background-position: -16px -160px;}
.k-i-l11-c3{background-position: -32px -160px;}
.k-i-l11-c4{background-position: -48px -160px;}
.k-i-l11-c5{background-position: -64px -160px;}
.k-i-l11-c6{background-position: -80px -160px;}
.k-i-l11-c7{background-position: -96px -160px;}
.k-i-l11-c8{background-position: -112px -160px;}
.k-i-l11-c9{background-position: -128px -160px;}
.k-i-l11-c10{background-position: -144px -160px;}
.k-i-l12-c1{background-position: -0px -176px;}
.k-i-l12-c2{background-position: -16px -176px;}
.k-i-l12-c3{background-position: -32px -176px;}
.k-i-l12-c4{background-position: -48px -176px;}
.k-i-l12-c5{background-position: -64px -176px;}
.k-i-l12-c6{background-position: -80px -176px;}
.k-i-l12-c7{background-position: -96px -176px;}
.k-i-l12-c8{background-position: -112px -176px;}
.k-i-l12-c9{background-position: -128px -176px;}
.k-i-l12-c10{background-position: -144px -176px;}
.k-i-l13-c1{background-position: -0px -192px;}
.k-i-l13-c2{background-position: -16px -192px;}
.k-i-l13-c3{background-position: -32px -192px;}
.k-i-l13-c4{background-position: -48px -192px;}
.k-i-l13-c5{background-position: -64px -192px;}
.k-i-l13-c6{background-position: -80px -192px;}
.k-i-l13-c7{background-position: -96px -192px;}
.k-i-l13-c8{background-position: -112px -192px;}
.k-i-l13-c9{background-position: -128px -192px;}
.k-i-l13-c10{background-position: -144px -192px;}
.k-i-l14-c1{background-position: -0px -208px;}
.k-i-l14-c2{background-position: -16px -208px;}
.k-i-l14-c3{background-position: -32px -208px;}
.k-i-l14-c4{background-position: -48px -208px;}
.k-i-l14-c5{background-position: -64px -208px;}
.k-i-l14-c6{background-position: -80px -208px;}
.k-i-l14-c7{background-position: -96px -208px;}
.k-i-l14-c8{background-position: -112px -208px;}
.k-i-l14-c9{background-position: -128px -208px;}
.k-i-l14-c10{background-position: -144px -208px;}
.k-i-l15-c1{background-position: -0px -224px;}
.k-i-l15-c2{background-position: -16px -224px;}
.k-i-l15-c3{background-position: -32px -224px;}
.k-i-l15-c4{background-position: -48px -224px;}
.k-i-l15-c5{background-position: -64px -224px;}
.k-i-l15-c6{background-position: -80px -224px;}
.k-i-l15-c7{background-position: -96px -224px;}
.k-i-l15-c8{background-position: -112px -224px;}
.k-i-l15-c9{background-position: -128px -224px;}
.k-i-l15-c10{background-position: -144px -224px;}
.k-i-l16-c1{background-position: -0px -240px;}
.k-i-l16-c2{background-position: -16px -240px;}
.k-i-l16-c3{background-position: -32px -240px;}
.k-i-l16-c4{background-position: -48px -240px;}
.k-i-l16-c5{background-position: -64px -240px;}

.k-i-l99-c99{background-position: -9999px -9999px;} /*Em Branco*/