<script>

	$(function () {
		kendo.culture("pt-BR")
		$("#WinCadastroLivro").data("kendoWindow").center().open();

	})

	$("#flGeneroLiterario").kendoDropDownList({
		dataSource: [
			{ name: "Aventura" },
			{ name: "Acao" },
			{ name: "Romance" },
		],
		optionLabel: "Selecione um Genero",
		dataTextField: "name",
		dataValueField: "name"
	});

	$("#dsNumeroPaginas").kendoNumericTextBox({
		min: 0,
		format: ""
	})

	$("#dtPublicacao").kendoDatePicker({
		format: "dd/MM/yyyy"
	})

	$("#frmCadastroLivro #barAcoes").kendoToolBar({
		items: [
			{
				type: "spacer",
			},
			{
				type: "buttonGroup",
				buttons: [
					{
						id: "BtnGravar",
						spriteCssClass: "k-pg-icon k-i-l1-c5",
						text: "Gravar",
						group: "actions",
						attributes: { tabindex: "33" },
						click: function () {

							if ($("#frmCadastroLivro #dsTitulo").val() === "") {
								Message('dlg', 'A', 'O preenchimento do campo Titulo é obrigatorio')
								return;
							}

							if ($("#frmCadastroLivro #dsAutor").val() === "") {
								Message('dlg', 'A', 'O preenchimento do campo Autor é obrigatorio')
								return;
							}

							if ($("#frmCadastroLivro #flGeneroLiterario").val() === "") {
								Message('dlg', 'A', 'O preenchimento do campo Genero é obrigatorio')
								return;
							}

							if ($("#frmCadastroLivro #dsNumeroPaginas").val() === "") {
								Message('dlg', 'A', 'O preenchimento do campo Numero de Paginas é obrigatorio')
								return;
							}

							if ($("#frmCadastroLivro #dtPublicacao").val() === "") {
								Message('dlg', 'A', 'O preenchimento do campo Data de Publicacao é obrigatorio')
								return;
							}

							console.log(Message)

							if ($("#frmCadastroLivro #idLivro").val() == "") {

								var ultimoID = parseInt(localStorage.getItem("ultimoID")) || 0;
								const livros = JSON.parse(localStorage.getItem("livros")) || [];
								ultimoID++;

								const novoTitulo = $("#frmCadastroLivro #dsTitulo").val().trim().toLowerCase();
								const idLivroAtual = $("#frmCadastroLivro #idLivro").val(); 

								const existeMesmoTitulo = livros.some(l =>
									l.dstitulo.trim().toLowerCase() === novoTitulo
								);

								if (existeMesmoTitulo) {
									Message('dlg', 'E', 'Já existe um livro com esse título.');
									return;
								}

								livros.push({
									idlivro: ultimoID,
									dstitulo: $("#frmCadastroLivro #dsTitulo").val(),
									dsautor: $("#frmCadastroLivro #dsAutor").val(),
									flgeneroliterario: $("#frmCadastroLivro #flGeneroLiterario").val(),
									dsnumeropaginas: $("#frmCadastroLivro #dsNumeroPaginas").val(),
									dtpublicacao: $("#frmCadastroLivro #dtPublicacao").val(),
									fldisponivel: $("#frmCadastroLivro #flDisponivel").is(":checked") ? "S" : "N"
								});

								localStorage.setItem("livros", JSON.stringify(livros));
								localStorage.setItem("ultimoID", ultimoID)
								$("#GrdConsultaLivro").data("kendoGrid").dataSource.read();
								$("#WinCadastroLivro").data("kendoWindow").close();

								Message('ntf', 'S', 'Livro adicionado com sucesso!!')

							} else {
								const livros = JSON.parse(localStorage.getItem("livros")) || [];
								const grid = $("#GrdConsultaLivro").data("kendoGrid")
								const livroSelecionado = grid.dataItem(grid.select())

								const index = livros.findIndex((l) => l.idlivro == livroSelecionado.idlivro);
								if (index !== -1) {
									livros[index] = {
										idlivro: livros[index].idlivro,
										dstitulo: $("#frmCadastroLivro #dsTitulo").val(),
										dsautor: $("#frmCadastroLivro #dsAutor").val(),
										flgeneroliterario: $("#frmCadastroLivro #flGeneroLiterario").val(),
										dsnumeropaginas: $("#frmCadastroLivro #dsNumeroPaginas").val(),
										dtpublicacao: $("#frmCadastroLivro #dtPublicacao").val(),
										fldisponivel: $("#frmCadastroLivro #flDisponivel").is(":checked") ? "S" : "N"
									}

									localStorage.setItem("livros", JSON.stringify(livros));
									localStorage.setItem("ultimoID", ultimoID)
									$("#GrdConsultaLivro").data("kendoGrid").dataSource.read();
									$("#WinCadastroLivro").data("kendoWindow").close();
									Message('ntf', 'S', 'Livro editado com sucesso!!')
								}
							}

						}
					},
					{
						id: "BtnExcluir",
						spriteCssClass: "k-pg-icon k-i-l1-c7",
						text: "Excluir",
						group: "actions",
						attributes: { tabindex: "34" },
						click: function () {
							const livros = JSON.parse(localStorage.getItem("livros")) || [];

							const grid = $("#GrdConsultaLivro").data("kendoGrid")
							const livroSelecionado = grid.dataItem(grid.select())

							const novosLivros = livros.filter(a => (a.idlivro !== livroSelecionado.idlivro))

							localStorage.setItem("livros", JSON.stringify(novosLivros))
							$("#GrdConsultaLivro").data("kendoGrid").dataSource.read()
							$("#WinCadastroLivro").data("kendoWindow").close();

						}
					},
					{
						id: "BtnFechar",
						spriteCssClass: "k-pg-icon k-i-l1-c4",
						text: "Fechar",
						group: "actions",
						attributes: { tabindex: "35" },
						click: function () {
							$("#WinCadastroLivro").data("kendoWindow").close()
						}
					}
				]
			}
		]
	})

	if ($("#frmConsultaLivro #idLivro").val() !== "") {

		const grid = $("#GrdConsultaLivro").data("kendoGrid")
		const livroSelecionado = grid.dataItem(grid.select())
		console.log(livroSelecionado)

		$("#frmCadastroLivro #idLivro").val(livroSelecionado.idlivro)
		$("#frmCadastroLivro #dsTitulo").val(livroSelecionado.dstitulo)
		$("#frmCadastroLivro #dsAutor").val(livroSelecionado.dsautor)
		$("#frmCadastroLivro #flGeneroLiterario").data("kendoDropDownList").value(livroSelecionado.flgeneroliterario)
		$("#frmCadastroLivro #dsNumeroPaginas").data("kendoNumericTextBox").value(livroSelecionado.dsnumeropaginas)
		$("#frmCadastroLivro #dtPublicacao").data("kendoDatePicker").value(livroSelecionado.dtpublicacao)
	}

</script>

<form id="frmCadastroLivro" style="height: 100%;">
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Id:</td>
			<td>
				<input type="text" id="idLivro" name="idLivro" class="k-textbox k-input-disabled" readonly="readonly">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Titulo:</td>
			<td>
				<input type="text" id="dsTitulo" name="dsTitulo" class="k-textbox" style="width: 600px;">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Autor:</td>
			<td>
				<input type="text" id="dsAutor" name="dsAutor" class="k-textbox" style="width: 600px;">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Genero Literario:</td>
			<td>
				<input id="flGeneroLiterario" name="flGeneroLiterario" style="width: 150px;">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Quantidade de Paginas:</td>
			<td>
				<input id="dsNumeroPaginas" name="dsNumeroPaginas" style="width: 100px;">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td style="text-align: right; width: 120px;">Data de Publicacao:</td>
			<td>
				<input id="dtPublicacao" name="dtPublicacao">
			</td>
		</tr>
	</table>
	<table width="100%" cellspacing="2" cellpadding="0" role="presentation">
		<tr>
			<td>
				<input type="checkbox" id="flDisponivel" name="flDisponivel" class="k-checkbox"
					style="margin-left: 120px;">
				<label for="flDisponivel" class="k-label-checkbox">Disponivel</label>
			</td>
		</tr>
	</table>

	<div id="barAcoes">

	</div>

	<div id="popNotificacao"></div>

</form>